# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
#env/
venv/
virtualenv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.orig
*~

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
#.env
#.env.local

# Logs
logs/
*.log

# Database
#*.sqlite3
#*.db

# OS
.DS_Store
Thumbs.db

# Документация , в любой папке игнорируем все папки _doc вместе с содержимым
**/_doc/